*{
    margin:0;
    padding:0;
    font-family: 'Archivo', sans-serif;
    font-family: 'IBM Plex Serif', serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Syne', sans-serif;
}

a{
    text-decoration: none !important;
}
a:hover {
    opacity: 0.8;
}

.card-img-top{
    height: 422px
}


.about{
    padding-top:80px;
    padding-left:100px;
    padding-right:100px;
    text-align: center;
    position: relative;
    line-height: 1.6;
}
.reveal{
    position: relative;
    transform: translateX(150px);
    opacity: 0;
    transition: 1s all ease;
}
.reveal.active{
    transform: translateX(0);
    opacity: 1;
}
.card-columns{
    width:100vh; 
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 2rem; 
    align-content: center; 
    padding-left: 150px;
    grid-template-columns: repeat(3, 300px); 
    grid-template-rows: minmax(300px, auto) repeat(3,300px);
}
.card.p-2{
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}
.card.p-2:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
@media only screen and (max-width: 992px){
    .card-columns{
        display: flex;
        flex-direction: column;
        width:100vw;
    }
}

.swiper{
    height: 600px;
    width: 100%;
    padding-top: 0;
}
.swiper-slide {
    background-size: cover;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:60px;
    color:white;
    letter-spacing: 4px;
}

/* Media Queries */
@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu{ 
        display: none; 
    }
    .navbar .nav-item:hover .nav-link{
        display: block;
    }
    .navbar .nav-item:hover .dropdown-menu{ display: block; }
    .navbar .nav-item .dropdown-menu{ margin-top:0;
    }
}

@media only screen and (max-width: 400px){
        .icons{
            flex-direction: row !important;
        }
    }